<% provide(:title, 'PupppyPages') %>
<%= render 'layouts/_header' %>

<div id="change" class="row-fluid">
    <div class="span10 offset1 my-well shadow">
        <p>
            The web is changing...
        </p>
    </div>
</div>
<div id="grid">
    <div class="row-fluid">
        <div class="span10 offset1">
            <div class="row-fluid">
                <div id="features" class="square span4 shadow">
                    <a href="/features">
                        <span>!</span>
                        <p>
                            Features
                        </p>
                    </a>
                </div>
                <div id="ordering" class="span4 square shadow">
                    <a href="/ordering">
                        <span>$</span>
                        <p>
                            Ordering
                        </p>
                    </a>
                </div>
                <div id="why" class="span4 square shadow">
                    <a href="/why_us">
                        <span>?</span>
                        <p>
                            Why us
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div id="work" class="span10 offset1 square shadow">
            <span>--></span>
            <a href="/showcase">
                <p>
                    See our work
                </p>
            </a>
        </div>
    </div>
</div>
<div id="your" class="row-fluid">
    <div class="span10 offset1 my-well shadow">
        <p>
            Is your business keeping up?
        </p>
    </div>
</div>
