<h1>Ordering</h1>
<h4> This page is currently under contruction </h4>
<h3>
    Sorry were busy helping clients currently but you can still reach us by contacting <em>loran@pupppypages.com</em>. 
    Yes we are accepting orders at this time. Please contact us today and we will fit you in our schedule for 
    your own custom website/webapp.
</h3>
<a href="/">Home</a>
