body {
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FAFBF5), color-stop(100%, #D0DBB6));
    font-family: 'Headland One', serif;
}
#main_header {
    float: left;
    width: 80px;
    height: 305px;
    background: url(/assets/header_bg.png);
    margin-top: 2%;
    margin-left: 5%;
    ul {
        padding-top: 15%;
        padding-left: 20%;
        margin-left: 0;
        list-style: none;
        li {
            margin-top: 15%;
            span {
                width: 54px;
                height: 54px;
                display: block;
                background: url(/assets/icons.png);
            }
        }
        #header-home span.icon {
            background-position: -4px -4px;
        }
        #header-home span.icon:hover {
            background-position: -58px -4px;
        }
        #header-about span.icon {
            background-position: -4px -112px;
        }
        #header-about span.icon:hover {
            background-position: -58px -112px;
        }
        #header-contact span.icon {
            background-position: -4px -58px;
        }
        #header-contact span.icon:hover {
            background-position: -58px -58px;
        }
    }
}

#logo {
    h1 {
        margin-top: 5%;
        margin-bottom: 7%;
        font-size: 700%;
        font-weight: 100;
        font-family: 'Waiting for the Sunrise', cursive;
    }
    h2 {
        font-size: 200%;
    }
    span {
        color: #454559;
        font-family: 'Waiting for the Sunrise', cursive;
    }
}

#main {
    .well {
        -webkit-border-radius: 30px;
           -moz-border-radius: 30px;
                border-radius: 30px;
    }
    #change {
        .well {
            float: left;
            margin-left: 2%;
            width: 25%;
        }
    }
}

/*  For Devices with screen widths smaller than 767:
    such as phones and iTouches
-----------------------------------------------    */

@media only screen and (max-device-width: 767px) {
    #logo {
        h1 {
            //font-size: 800%;
        }
    }
    #main {
        #change {
            .well {
                float: none;
                //margin-left: 2%;
                width: 50%;
            }
        }
    }
}


/*  Retina media query.
    Overrides styles for devices with a 
    device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {

    #main_header {
        width: 160px;
        height: 610px;
        background: url(/assets/header_bg@2x.png);
        margin-top: 0;
        margin-left: 0;
        ul {
            padding-left: 15%;
            li span {
                width: 108px;
                height: 108px;
                background: url(/assets/icons@2x.png);
            }
            #header-home span.icon {
                background-position: -4px -4px;
            }
            #header-about span.icon {
                background-position: -4px -224px;
            }
            #header-contact span.icon {
                background-position: -4px -116px;
            }
        }
    }
}
