<header id="main_header">
    <ul>
        <li id="header-home" class="header-item">
            <a href="/">
                <span class="icon"></span>
            </a>
        </li>
        <li id="header-about" class="header-item">
            <a href="/about">
                <span class="icon"></span>
            </a>
        </li>
        <li id="header-contact" class="header-item">
            <a href="/contact">
                <span class="icon"></span>
            </a>
        </li>
    </ul>
</header>
