<header>
    <div class="row-fluid">
        <div id="title" class="span12 shadow">
            <p id="logo">
                <img src="/assets/puppy_white_transparent.png" alt="puppy">
            </p>
            <h1>Pup<span>p</span>py Pages</h1>
        </div>
        <!--<div id="logo">
            <p>
                <img src="/assets/puppy_white_transparent.png" alt="puppy">
            </p>
        </div>-->
    </div>
</header>
