<div id="logo">
    <header>
        <div class="row-fluid">
            <div class="span2">
                <img src="/assets/puppy_transparent.png" alt="puppy" 
                        width="25%"/>
            </div>
            <div class="span9">
                <h1>
                    Pup<span>p</span>pyPages
                </h1>
                <h2>
                    Why Can't <span>your</span> Site Have It All?
                </h2>
            </div>
        </div>
        <hr>
    </header>
</div>
