<!DOCTYPE html>
<html>
<head>
  <title>PupppyPages</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon.png" />
  <meta name="google-site-verification" content="InrUHgjX8PxLB43mOIj5DxjnpdXJMzz9qguiqVZigfo" />
  <link href='http://fonts.googleapis.com/css?family=Headland+One|Waiting+for+the+Sunrise' rel='stylesheet' type='text/css'>
  <meta name="description=" content="PupppyPages is here to help you design REAL functioning websites to get real results. We specialize in Ruby on Rails, WordPress installs, and can adapt to whatever tools your currently using. Give PuppyPages a try today and you will be surprized where your website can take your business.">
  <meta name="viewport" content="width=device-width">
  <%= csrf_meta_tags %>
</head>
<body>

        <div id="main">
            <%= yield %>
        </div>
</body>
</html>
